* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.navbar {
  width: 100%;
  height: 80px;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  /* background: rgba(26, 26, 27, 0.85);
  backdrop-filter: blur(10px); */
}

.logo {
  color: white;
  font-size: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo span {
  background: #2980b9;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 35px;
}

.nav-links ul li a {
  text-decoration: none;
  color: #cbd5e1;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-links ul li a:hover {
  color: white;
}

.menu-icon {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

#logoid {
  display: none;
}
/* CONTACT BUTTON */
.contact-btn {
  background: linear-gradient(135deg, #2980b9,#2980b9);
  color: #fff !important;
  padding: 10px 22px;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.3s ease;
}

/* Hover effect */
.contact-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 28px #2980b9;
}

/* ACTIVE (jab contact section pe ho) */
/* .contact-btn.active {
  background: linear-gradient(135deg, #2980b9, #2980b9);
} */




/* ================= RESPONSIVE NAVBAR ================= */

@media (max-width: 992px) {
  .navbar {
    padding: 0 30px;
  }

  .nav-links ul {
    gap: 25px;
  }
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    background: rgba(26, 26, 27, 0.95);
    backdrop-filter: blur(10px);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

  .nav-links ul {
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 30px 0;
  }

  /* checkbox hack */
  #logoid:checked ~ .nav-links {
    max-height: 400px;
  }

  /* contact button center */
  .contact-btn {
    width: 160px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 0 20px;
    height: 70px;
  }

  .logo {
    font-size: 20px;
  }

  .logo span {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }

  .nav-links {
    top: 70px;
  }
}
